*.DS_Store
*.o
*.lo
*.a
*.la
*/.deps
*/.libs
*/noncestatistics*
*Makefile*
*/all.h.bak
aclocal.m4
autom4te.cache
compile
config.guess
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1